# Ignore common files and directories
.git
.gitignore
.dockerignore
node_modules
public/images
public/uploads
logs
tmp

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg

# Ignore log files
*.log
*.tmp

Notes.md
README.md
.pre-commit-config.yaml
.env.sample
.env