---
http_interactions:
- request:
    method: get
    uri: https://www.tindie.com/api/v1/order/?api_key=<FILTERED>&format=json&limit=50&offset=0&shipped=true&username=<TINDIE_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"limit":50,"next":null,"offset":0,"previous":null,"total_count":26},"orders":[{"company_title":"","date":"2024-12-12T19:32:52.300477","date_shipped":"2024-12-24T13:27:17.718697","discount_code":"","email":"gregory_heathcote@heller-hayes.example","items":[{"model_number":"mini-v2-pcb","options":"
        (OpenSpool Mini: PCB Only)","pre_order":false,"price_total":7.0,"price_unit":7.0,"product":"OpenSpool
        - Mini","quantity":1,"sku":"36746","status":"billed"}],"message":"","number":"668133","payment":"unpaid","phone":"+347424581915","refunded":false,"shipped":false,"shipping_city":"New
        Clora","shipping_country":"United States of America","shipping_country_code":"US","shipping_instructions":"","shipping_name":"Karl
        Little DVM","shipping_postcode":"88275-2242","shipping_service":"United States
        Postal Service USPS Ground Advantage","shipping_state":"IL","shipping_street":"62163
        Dixie Orchard","total":11.84,"total_ccfee":0.66,"total_discount":"0","total_kickback":0.0,"total_seller":11.22,"total_shipping":5.5,"total_subtotal":12.5,"total_tindiefee":0.62,"tracking_code":"9400136208271304892423","tracking_url":""},{"company_title":"","date":"2024-12-12T18:56:05.576141","date_shipped":"2024-12-24T13:28:12.673072","discount_code":"","email":"colin@bernier.example","items":[{"model_number":"mini-v2-pcb","options":"
        (OpenSpool Mini: PCB Only)","pre_order":false,"price_total":7.0,"price_unit":7.0,"product":"OpenSpool
        - Mini","quantity":1,"sku":"36746","status":"billed"}],"message":"","number":"320196","payment":"unpaid","phone":"+642912475149","refunded":false,"shipped":false,"shipping_city[...]
