---
http_interactions:
- request:
    method: get
    uri: https://www.tindie.com/api/v1/order/?api_key=<FILTERED>&format=json&shipped=false&username=<TINDIE_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"limit":20,"next":null,"offset":0,"previous":null,"total_count":9},"orders":[{"company_title":"","date":"2024-12-12T19:32:52.300477","date_shipped":null,"discount_code":"","email":"jeff.stoltenberg@cummings.test","items":[{"model_number":"mini-v2-pcb","options":"
        (OpenSpool Mini: PCB Only)","pre_order":false,"price_total":7.0,"price_unit":7.0,"product":"OpenSpool
        - Mini","quantity":1,"sku":"36746","status":"billed"}],"message":"","number":"411392","payment":"unpaid","phone":"+629087418969","refunded":false,"shipped":false,"shipping_city":"Blockfurt","shipping_country":"United
        States of America","shipping_country_code":"US","shipping_instructions":"","shipping_name":"Janyce
        Morissette DVM","shipping_postcode":"48523-9044","shipping_service":"United
        States Postal Service USPS Ground Advantage","shipping_state":"IL","shipping_street":"31342
        Powlowski Shore","total":11.84,"total_ccfee":0.66,"total_discount":"0","total_kickback":0.0,"total_seller":11.22,"total_shipping":5.5,"total_subtotal":12.5,"total_tindiefee":0.62,"tracking_code":null,"tracking_url":""},{"company_title":"","date":"2024-12-12T18:56:05.576141","date_shipped":null,"discount_code":"","email":"deidre@schaden.example","items":[{"model_number":"mini-v2-pcb","options":"
        (OpenSpool Mini: PCB Only)","pre_order":false,"price_total":7.0,"price_unit":7.0,"product":"OpenSpool
        - Mini","quantity":1,"sku":"36746","status":"billed"}],"message":"","number":"535270","payment":"unpaid","phone":"+902786922948","refunded":false,"shipped":false,"shipping_city":"West
        Natacha[...]
